.examples {
  display: flex;
}

.examples__list {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.examples__overlay {
  width: 100%;
  height: 100%;
  position: relative;

  &::before {
    display: inline-block;
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background-color: rgba(47, 48, 58, 0.8);
  }
}

.exaples__img {
  display: block;
  max-width: 100%;
}

.examples__overlay-text {
  position: absolute;
  bottom: 27px;
  left: 25%;

  z-index: 1;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}
